/* Tablet:768px. */
@media (min-width: 768px) and (max-width: 991px) {
    nav.container {
      font-size: 10px; 
     }
   }
   
   /* Mobile :320px. */
   @media (max-width: 768px) {
    nav.container {
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
     }
    div.card{
        height: 20hw;
        width:60vw;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
     }
   }


body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1{
    text-align: center;
}
nav.container{
    display: flex;
    justify-content: center;
    font-size:14px;
}
a{
    color: black;
    text-decoration: none;
}

.card{
    height: 5vh;
    width:10vw;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 5px;
    margin: 2vw;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
#one{
    background-color: hsl(120, 100%, 78%);
}
#two{
    background-color: hsl(39, 100%, 79%);
}
#three{
    background-color: hsl(300, 91%, 78%);
}
img{
    display: block;
    width: 70%;
    height: auto;
    margin-left: auto;
  margin-right: auto;
}